@import '../../../common.styl'

.screen
  background white
  padding 30px

.table
  background white
.head 
  background white

.screenWrapper
  width 100%
  background white

.row
  min-height 64px
  display grid
  grid-template-columns 1fr 1fr 1fr 1fr 1fr

.pagination
  display flex
  justify-content space-around